/**/node_modules
/**/dist
/**/.husky
/**/.github
/**/.vscode
/**/.git
/**/.turbo
/**/test
/**/__test__
/**/__tests__
/**/.dockerignore
/**/.eslintcache
/**/.eslintignore
/**/.eslintrc
/**/.prettierrc
/**/.prettierignore
/**/turbo.json
/**/jest.*
/**/*.md
