* {
  user-select: none;
  --td-button-primary-bg-color: #93b3ff;
  --td-button-primary-border-color: #d4e4ff;

  --td-switch-checked-color: #93b3ff;
}

input {
  @apply focus:outline-none;
}

#app {
  @apply h-100vh h-100dvh;
  @apply flex flex-col justify-between;
}

#app > main {
  @apply overflow-y-hidden;
  @apply flex-1 bg-#f6f6f6;
  @apply flex flex-col;
}

.t-pull-down-refresh__track {
  flex-grow: 1;
}
