* {
  @apply box-border;
}

html,
body {
  @apply h-100vh h-100dvh m-0 w-full fixed  bg-[#e6d2d5];
  background-image: url('http://zhongguose.com/img/texture.png');
}

#app {
  @apply h-100vh h-100dvh flex flex-col;

  & > main {
    @apply flex-1 px-4;
  }
}

input[type='number'] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
